<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wc.walletcontrol">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/imagologowc"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/imagologowc_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WalletControl"
        tools:ignore="AllowBackup">
        <activity
            android:name=".activity.PrincipalActivity"
            android:label="@string/title_activity_principal"
            android:theme="@style/Theme.WalletControl.NoActionBar" />
        <activity android:name=".activity.CadastroActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.Intro"
            tools:ignore="IntentFilterExportedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>