<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wc.walletcontrol" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/imagologowc"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/imagologowc_round"
        android:supportsRtl="true"
        android:exported="true"
        android:theme="@style/Theme.WalletControl"
        tools:ignore="AllowBackup" >
        <activity
            android:name=".activity.ReceitasActivity"
            android:exported="true"
            android:theme="@style/ReceitasTheme"/>

        <activity
            android:name=".activity.DespesasActivity"
            android:exported="true"
            android:theme="@style/DespesasTheme"/>

        <activity
            android:name=".activity.PrincipalActivity"
            android:exported="true"
            android:label="@string/title_activity_principal"
            android:theme="@style/Theme.WalletControl.NoActionBar" />
        <activity android:name=".activity.CadastroActivity" android:exported="true"/>
        <activity android:name=".activity.LoginActivity" android:exported="true" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Intro"
            tools:ignore="IntentFilterExportedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" android:exported="true"/>

                <category android:name="android.intent.category.LAUNCHER" android:exported="true" />
            </intent-filter>
        </activity>
    </application>

</manifest>